!!!
%html
  %head
    %title ononao
  %body
    %div.container
      %div#mainMenuContainer


        %div.stock-images{:style => 'width:100%; height:auto;float:left;   padding-bottom: 40px;'}
          %div.AFeature-container
            %div#slides{:style => 'display: block'}
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/05/ErnstYoung_8.jpg', :style => 'width:100%; height:100%'}
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/03/home-1.jpg', :style => 'width:100%; height:100%'}
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/05/crone_106Epsom_feature.jpg', :style => 'width:100%; height:100%'}
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/03/crone_people_feature_2.jpg', :style => 'width:100%; height:100%'}
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/03/crone_journal_feature2.jpg', :style => 'width:100%; height:100%'}
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/05/crone_journal_feature1.jpg', :style => 'width:100%; height:100%'}
            %div#AFeature-mob
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/03/crone_earnstyoung_feature_mob.jpg', :style => 'width:100%; height:100%'}

          %div#carouselBarContainer
            %div#carouselBarInfoContainter
              %h4 Featured Project
              %a{:href => 'http://crone.com.au/project/ernst-young-centre/', :style => 'text-decoration: none;'}
              %h3#featuredProjectHolder{:style => ''} Ernst & Young Center
            %div#downArrowHolder
            %div#downArrow


        %div#condensedNav
          %div#menuButContainer2
            %div#menuButDark
          %a{:href => 'http://crone.com.au'}
            %div#condesnsedLogo
        %div#mainLogo
        %div#menuButContainer
          %div#menuBut{:style => 'display:none;'}
          %div#menuBut-mob
        %div#mainMenu
          %ul.slidesjs-pagination2
            %li.slidesjs-pagination-item
              %a.slideNum.homeMenulink{:href => 'http://crone.com.au/profile', 'data-item' => '1'}
                %span.menu-number 01
                %span.menu-line
                %span.menu-name Profile

            %li.slidesjs-pagination-item
              %a.slideNum.homeMenulink{:href => 'http://crone.com.au/project', 'data-item' => '2'}
                %span.menu-number 02
                %span.menu-line
                %span.menu-name Interview

            %li.slidesjs-pagination-item
              %a.slideNum.homeMenulink{:href => 'http://crone.com.au/people', 'data-item' => '3'}
                %span.menu-number 03
                %span.menu-line
                %span.menu-name Blog

            %li.slidesjs-pagination-item
              %a.slideNum.homeMenulink{:href => 'http://crone.com.au/journal', 'data-item' => '4'}
                %span.menu-number 04
                %span.menu-line
                %span.menu-name Works

            %li.slidesjs-pagination-item
              %a.slideNum.homeMenulink{:href => 'http://crone.com.au/contact', 'data-item' => '5' }
                %span.menu-number 05
                %span.menu-line
                %span.menu-name Contact

        %div#mainMenuAll
          %div#closeMenuButContainer
            %div#closeMenuBut
          %ul
            %li
              %a{:href => 'http://crone.com.au/profile'}
                %span.menu-number 01
                %span.menu-line
                %span.menu-name Profile

            %li
              %a{:href => 'http://crone.com.au/project'}
                %span.menu-number 02
                %span.menu-line
                %span.menu-name Interview

            %li
              %a{:href => 'http://crone.com.au/people'}
                %span.menu-number 03
                %span.menu-line
                %span.menu-name Blog

            %li
              %a{:href => 'http://crone.com.au/journal'}
                %span.menu-number 04
                %span.menu-line
                %span.menu-name Works

            %li
              %a{:href => 'http://crone.com.au/contact'}
                %span.menu-number 05
                %span.menu-line
                %span.menu-name Contact

        %div#menuBackground{:style => 'background: rgba(0, 174, 129, .9); width:100%; height:100%; position:fixed; top:0; left:0; z-index:4018; display:none;'}
      %div#heroLine
        %h1
          No labels. No limits.
          %span.mobileBreak
            %br
          %span{:style => 'color:#00FFFF'}We are CRONE


      %div#homeContent

        %div#projectDesktop
          %div#leftContent{:style => ''}
            %div.contentItemLeft
              %div.homeTeamContentImage{:style => ''}
                %a{:href => 'http://crone.com.au/people/sandra-furtado/'}
                  %div.teamContentRollover{:style =>'background-color:#00FFFF;width:100%; height:100%'}
                  %img{src: 'http://crone.com.au/wp-content/uploads/2015/06/SandraFurtado_mid2.jpg', :style => 'width:100%; height:auto;'}
              %div.homeTeamContentCopy
                %h4 Practice Director
                %h3 Sandra Furtado

            %div.contentItemLeft{:style => 'width:336px;'}
              %a{:href => 'http://crone.com.au/project/telstra-discovery/'}
                %div.contentImage{:style => 'width:336px; height:464px;'}
                  %div.contentRollover{:style => 'background-color:#00FFFF'}
                  %img{src: 'http://crone.com.au/wp-content/uploads/2015/04/crone_projects_336x464_telstraconcept.jpg', :style => 'width:100%; height:auto'}
              %h4 Retail, Interior, Heritage
              %h3 Telstra Discovery Store

            %div.contentItemLeft
              %div.homeTeamContentImage{:style => ''}
                %a{:href => 'http://crone.com.au/people/niall-durney/'}
                  %div.teamContentRollover{:style => 'background-color:#00FFFF;width:100%; height:100%'}
                  %img{src: 'http://crone.com.au/wp-content/uploads/2015/06/NiallDurney_mid2.jpg', :style => 'width:100%; height:auto;'}
              %div.homeTeamContentCopy
                %h4 Principal & Design Director
                %h3 Niall Durney

            %div.contentItemLeft{:style => 'width:336px;'}
              %a{:href => 'http://crone.com.au/project/author-project/'}
                %div.contentImage{:style => 'width:336px; height:464px;'}
                  %div.contentRollover{:style => 'background-color:#00FFFF;'}
                  %img{src: 'http://crone.com.au/wp-content/uploads/2015/05/crone_project_bfeatures_336x464_505george.jpg', :style => 'width:100%; height:auto'}
              %h4 Residential, Retail
              %h3 505 George St


          %div#rightContent{:style => ''}
            %div.contentItemRight{:style => 'width:336px;'}
              %a{:href => 'http://crone.com.au/project/333-kent/'}
                %div.contentImage{:style => 'width:336px; height:336px;'}
                  %div.contentRollover{:style => 'background-color:#00FFFF;'}
                  %img{src: 'http://crone.com.au/wp-content/uploads/2015/05/crone_333kent_336x336.jpg', :style => 'width:100%; height:auto'}
              %h4 Residential, Hospitality, Heritage
              %h3 333 Kent St

            %div.contentItemRightDouble
              %a{:href => 'http://crone.com.au/journal/crone-designs-sydney-one/'}
                %div.jornalEntry.journal1{:style => 'width:212px; float:left;'}
                  %div.contentImage{:style => 'width:212px; height:160px; overflow: hidden;'}
                    %div.contentRollover{:style => 'background-color:#00FFFF;'}
                    %img{src: 'http://crone.com.au/wp-content/uploads/2015/08/SydneyOne_1.jpg', :style => 'width:140%; height:auto; margin-left: -20%'}
                  %h4 Journal
                  %h3{:style => 'line-height: 1.3;'} Sydnet One Stage 1 DA Submitted
                  %h4{:style => 'margin:0;   margin-top: 7px;  margin-bottom: 7px;'} –
                  %p Sydney One aims to strengthen Sydney’s position as a global city and a great place...
                  %div.readMoreLink Read More

              %a{:href => 'http://crone.com.au/journal/crone-promotions/'}
                %div.jornalEntry{:style => 'width:212px; float:right'}
                  %div.contentImage.journal12Mob{:style => 'width:212px; height:160px;overflow: hidden;'}
                    %div.contentRollover{:style => 'background-color:#00FFFF;'}
                    %img{src: 'http://crone.com.au/wp-content/uploads/2015/06/Promotions_sml5.jpg', :style => 'width:140%; height:auto; margin-left: -20%;'}
                  %h4 journal
                  %h3{:style => 'line-height: 1.3;'} Crone Promotions
                  %h4{:style => 'margin:0;   margin-top: 7px;margin-bottom: 7px;'} –
                  %p Crone is proud to announce four new promotions!
                  %div.readMoreLink Read More

            %div.contentItemRight{:style => 'width: 336px;'}
              %a{:href => 'http://crone.com.au/project/400-george/'}
                %div.contentImage{:style => 'width:336px; height:336px;'}
                  %div.contentRollover{:style => 'background-color:#00FFFF;'}
                  %img{src: 'http://crone.com.au/wp-content/uploads/2015/03/crone_project_bfeature_336x336_400george.jpg', :style => 'width:100%; height:auto'}
              %h4 Commercial, Interior
              %h3 400 Georfe St

            %div.contentItemRightDouble
              %a{:href => 'http://crone.com.au/journal/180b-the-brisbane-river-tower/'}
                %div.jornalEntry.journal1{:style => 'width:212px; float:left'}
                  %div.contentImage{:style => 'width:212px; height:160px; overflow: hidden;'}
                    %div.contentRollover{:style => 'background-color:#00FFFF;'}
                    %img{src: 'http://crone.com.au/wp-content/uploads/2015/06/180Brisbane_Grid.jpg', :style => 'width:140%; height:auto; margin-left: -20%;'}
                  %h4 journal
                  %h3{:style => 'line-height: 1.3;'} 180B: The Brisbane River Tower
                  %h4{:style => 'margin:0; margin-top: 7px; margin-bottom: 7px;'} –
                  %p Only a few months to go before Crone&#8217;s &#8216;180B&#8217; signature commercial...
                  %div.readMoreLink Read More

              %a{:href => 'http://crone.com.au/journal/telstra-discovery-store/'}
                %div.jornalEntry{:style => 'width:212px; float:right'}
                  %div.contentImage.journal12Mob{:style => 'width:212px; height:160px; overflow: hidden;'}
                    %div.contentRollover{:style => 'background-color: #00FFFF'}
                    %img{src: 'http://crone.com.au/wp-content/uploads/2015/06/TelstraDiscoverStore_Grid.jpg', :style => 'width:140%; height:auto; margin-left: -20%;'}
                  %h4 journal
                  %h3{:style => 'line-height: 1.3;'} Telstra Discovery Stor
                  %h4{:style => 'margin:0; margin-top: 7px; margin-bottom: 7px;'} –
                  %p Crone Completes Telstra Discovery Store
                  %div.readMoreLink Read More



        %div#projectMobile
          %div.contentItemLeft
            %div.homeTeamContentImage{:style => ''}
              %a{:href => 'http://crone.com.au/people/sandra-furtado/'}
                %div.teamContentRollover{:style => 'background-color:#00ae81;width:100%; height:100%'}
                %img{src: 'http://crone.com.au/wp-content/uploads/2015/06/SandraFurtado_mid2.jpg', :style => 'width:100%; height:auto;'}
            %div.homeTeamContentCopy
              %h4 Practice Director
              %h3 Sandra Furtado

          %divcontentItemRight{:style => 'width:336px;'}
            %a{:href => 'http://crone.com.au/project/333-kent/'}
              %div.contentImage{:style => 'width:336px; height:336px;'}
                %div.contentRollover{:style => 'background-color:#00ae81;'}
                %img{src: 'http://crone.com.au/wp-content/uploads/2015/05/crone_333kent_336x336.jpg', :style => 'width:100%; height:auto'}
            %h4 Residential, Hospitality, Heritage
            %h3 333 Kent St

          %div.contentItemLeft{:style => 'width:336px;'}
            %a{:href => 'http://crone.com.au/project/telstra-discovery/'}
              %div.contentImage{:style => 'width:336px; height:464px;'}
                %div.contentRollover{:style => 'background-color:#00ae81;'}
                %img{src: 'http://crone.com.au/wp-content/uploads/2015/04/crone_projects_336x464_telstraconcept.jpg', :style => 'width:100%; height:auto'}
            %h4 Retail, Interior, Heritage
            %h3 Telstra Discovery Store

          %div.contentItemRightDouble
            %a{:href => 'http://crone.com.au/journal/crone-designs-sydney-one/'}
              %div.jornalEntry.journal1{:style => 'width:212px; float:left;'}
                %div.contentImage{:style => 'width:212px; height:160px; overflow: hidden;'}
                  %div.contentRollover{:style => 'background-color:#00ae81;'}
                  %img{src: 'http://crone.com.au/wp-content/uploads/2015/08/SydneyOne_1.jpg', :style => 'width:140%; height:auto; margin-left: -20%;'}
                %h4 journal
                %h3{:style => 'line-height: 1.3;'} Sydney One Stage 1 DA Submitted
                %h4{:style => 'margin:0;   margin-top: 7px;  margin-bottom: 7px;'} –
                %p Sydney One aims to strengthen Sydney’s position as a global city and a great place...
                %div.readMoreLink Read More

            %a{:href => 'http://crone.com.au/journal/crone-promotions/'}
              %div.jornalEntry{:style => 'width:212px; float:right'}
                %div.contentImage.journal12Mob{:style => 'width:212px; height:160px;overflow: hidden;'}
                  %div.contentRollover{:style => 'background-color:#00ae81;'}
                  %img{src: 'http://crone.com.au/wp-content/uploads/2015/06/Promotions_sml5.jpg', :style => 'width:140%; height:auto; margin-left: -20%;'}
                %h4 Journal
                %h3{:style => 'line-height: 1.3;'} Crone Promotions
                %h4{:style => 'margin:0;   margin-top: 7px;  margin-bottom: 7px;'} –
                %p Crone is proud to announce four new promotions!
                %div.readMoreLink Read More

          %div.contentItemLeft
            %div.homeTeamContentImage{:style => ''}
              %a{:href => 'http://crone.com.au/people/niall-durney/'}
                %div.teamContentRollover{:style => 'background-color:#00ae81;'}
                %img{src: 'http://crone.com.au/wp-content/uploads/2015/06/NiallDurney_mid2.jpg', :style => 'width:100%; height:auto;'}
            %div.homeTeamContentCopy
              %h4 Principal & Design Director
              %h3 Niall Durney

            %div.contentItemRight{:style => 'width:336px;'}
              %a{:href => 'http://crone.com.au/project/400-george/'}
                %div.contentImage{:style => 'width:336px; height:336px;'}
                  %div.contentRollover{:style => 'background-color:#00ae81;'}
                  %img{src: 'http://crone.com.au/wp-content/uploads/2015/03/crone_project_bfeature_336x336_400george.jpg', :style => 'width:100%; height:auto;'}
              %h4 Commercial
              %h3 400 George St

            %div.contentItemLeft{:style => 'width:336px;'}
              %a{:href =>'http://crone.com.au/project/author-project/'}
                %div.contentImage{:style => 'width:336px; height:464px;'}
                  %div.contentRollover{:style => 'background-color:#00ae81;'}
                  %img{src: 'http://crone.com.au/wp-content/uploads/2015/05/crone_project_bfeatures_336x464_505george.jpg', :style => 'width:100%; height:auto;'}
              %h4 Residential, Retail
              %h3 505 George St

            %div.contentItemRightDouble
              %a{:href => 'http://crone.com.au/journal/180b-the-brisbane-river-tower/'}
                %div.jornalEntry.journal1{:style => 'width:212px; float:left;'}
                  %div.contentImage{:style => 'width:212px; height:160px; overflow: hidden;'}
                    %div.contentRollover{:style => 'background-color:#00ae81;'}
                    %img{src: 'http://crone.com.au/wp-content/uploads/2015/06/180Brisbane_Grid.jpg', :style => 'width:140%; height:auto; margin-left: -20%;'}
                  %h4 Journal
                  %h3{:style => 'line-height: 1.3;'} 180B: The Brisbane River Tower
                  %h4{:style => 'margin:0;   margin-top: 7px;  margin-bottom: 7px;'} –
                  %p Only a few months to go before Crone&#8217;s &#8216;180B&#8217; signature commercial...
                  %div.readMoreLink Read More

              %a{:href => 'http://crone.com.au/journal/telstra-discovery-store/'}
                %div.jornalEntry{:style => 'width:212px; float:right'}
                  %div.contentImage.journal12Mob{:style => 'width:212px; height:160px;overflow: hidden;'}
                    %div.contentRollover{:style => 'background-color:#00ae81;'}
                    %img{src: 'http://crone.com.au/wp-content/uploads/2015/06/TelstraDiscoverStore_Grid.jpg', :style => 'width:140%; height:auto; margin-left: -20%;'}
                  %h4 Journal
                  %h3{:style => 'line-height: 1.3;'} Telstra Discovery Store
                  %h4{:style => 'margin:0;   margin-top: 7px;  margin-bottom: 7px;'} –
                  %p Crone Completes Telstra Discovery Store!
                  %div.readMoreLink Read More
