!!!
%html
  %head
    %title ononao
  %body
    %div.container
      %div#mainMenuContainer


        %div.stock-images{:style => 'width:100%; height:auto;float:left;   padding-bottom: 40px;'}
          %div.AFeature-container
            %div#slides{:style => 'display: block'}
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/05/ErnstYoung_8.jpg', :style => 'width:100%; height:100%'}
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/03/home-1.jpg', :style => 'width:100%; height:100%'}
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/05/crone_106Epsom_feature.jpg', :style => 'width:100%; height:100%'}
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/03/crone_people_feature_2.jpg', :style => 'width:100%; height:100%'}
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/03/crone_journal_feature2.jpg', :style => 'width:100%; height:100%'}
              %img{src: '/assets/img/maki.jpg', :style => 'width:100%; height:100%'}
            %div#AFeature-mob
              %img{src: 'http://crone.com.au/wp-content/uploads/2015/03/crone_earnstyoung_feature_mob.jpg', :style => 'width:100%; height:100%'}

          %div#carouselBarContainer
            %div#carouselBarInfoContainter
              %h4 おのなおが行く
              %a{:href => 'http://crone.com.au/project/ernst-young-centre/', :style => 'text-decoration: none;'}
              %h3#featuredProjectHolder{:style => ''} おのなお.tokyo
            %div#downArrowHolder
            %div#downArrow


        %div#condensedNav
          %div#menuButContainer2
            %div#menuButDark
          %a{:href => 'http://crone.com.au'}
            %div#condesnsedLogo
        %div#mainLogo
        %div#menuButContainer
          %div#menuBut{:style => 'display:none;'}
          %div#menuBut-mob
        %div#mainMenu
          %ul.slidesjs-pagination2
            %li.slidesjs-pagination-item
              %a.slideNum.homeMenulink{:href => 'http://ononao.tokyo/', 'data-item' => '1'}
                %span.menu-number 01
                %span.menu-line
                %span.menu-name Profile

            %li.slidesjs-pagination-item
              %a.slideNum.homeMenulink{:href => 'http://ononao.tokyo/interview/', 'data-item' => '2'}
                %span.menu-number 02
                %span.menu-line
                %span.menu-name Interview

            %li.slidesjs-pagination-item
              %a.slideNum.homeMenulink{:href => 'http://ononao.tokyo/blog/', 'data-item' => '3'}
                %span.menu-number 03
                %span.menu-line
                %span.menu-name Blog

            %li.slidesjs-pagination-item
              %a.slideNum.homeMenulink{:href => 'http://ononao.tokyo/works/', 'data-item' => '4'}
                %span.menu-number 04
                %span.menu-line
                %span.menu-name Works

            %li.slidesjs-pagination-item
              %a.slideNum.homeMenulink{:href => 'http://ononao.tokyo/contact/', 'data-item' => '5' }
                %span.menu-number 05
                %span.menu-line
                %span.menu-name Contact

        %div#mainMenuAll
          %div#closeMenuButContainer
            %div#closeMenuBut
          %ul
            %li
              %a{:href => 'http://ononao.tokyo/'}
                %span.menu-number 01
                %span.menu-line
                %span.menu-name Profile

            %li
              %a{:href => 'http://ononao.tokyo/interview/'}
                %span.menu-number 02
                %span.menu-line
                %span.menu-name Interview

            %li
              %a{:href => 'http://ononao.tokyo/blog/'}
                %span.menu-number 03
                %span.menu-line
                %span.menu-name Blog

            %li
              %a{:href => 'http://ononao.tokyo/works/'}
                %span.menu-number 04
                %span.menu-line
                %span.menu-name Works

            %li
              %a{:href => 'http://ononao.tokyo/contact/'}
                %span.menu-number 05
                %span.menu-line
                %span.menu-name Contact

        %div#menuBackground{:style => 'background: rgba(41, 81, 226, 0.72); width:100%; height:100%; position:fixed; top:0; left:0; z-index:4018; display:none;'}
      %div#heroLine
        %h1
          http://ononao.
          %span.mobileBreak
            %br
          %span{:style => 'color:#2951e2'}tokyo


      %div#homeContent

        %div#projectDesktop
          %div#leftContent{:style => ''}
            %div.contentItemLeft
              %div.homeTeamContentImage{:style => ''}
                %a{:href => 'http://ononao.tokyo/blog/thankyou/'}
                  %div.teamContentRollover{:style =>'background-color:#2951e2;width:100%; height:100%'}
                  %img{src: 'assets/img/jk.png', :style => 'width:100%; height:auto;'}
              %div.homeTeamContentCopy
                %h4 PV10,000突破企画
                %h3 JKパンティ隊始動

            %div.contentItemLeft{:style => 'width:336px;'}
              %a{:href => 'http://ononao.tokyo/blog/photo/'}
                %div.contentImage{:style => 'width:336px; height:464px;'}
                  %div.contentRollover{:style => 'background-color:#2951e2'}
                  %img{src: 'assets/img/photo.png', :style => 'width:100%; height:auto'}
              %h4 旅日記
              %h3 シリコンバレー写真編

            %div.contentItemLeft
              %div.homeTeamContentImage{:style => ''}
                %a{:href => 'http://ononao.tokyo/blog/ononao-make/'}
                  %div.teamContentRollover{:style => 'background-color:#2951e2;width:100%; height:100%'}
                  %img{src: '/assets/img/company.png', :style => 'width:100%; height:auto;'}
              %div.homeTeamContentCopy
                %h4 Takeoff
                %h3 １８歳で会社を作った話。

            %div.contentItemLeft{:style => 'width:336px;'}
              %a{:href => 'http://ononao.tokyo/blog/1day/'}
                %div.contentImage{:style => 'width:336px; height:464px;'}
                  %div.contentRollover{:style => 'background-color:#2951e2;'}
                  %img{src: 'assets/img/ononao-siri.png', :style => 'width:100%; height:auto'}
              %h4 旅行日記
              %h3 シリコンバレー日記１日目


          %div#rightContent{:style => ''}
            %div.contentItemRight{:style => 'width:336px;'}
              %a{:href => 'http://ononao.tokyo/interview/inoko/'}
                %div.contentImage{:style => 'width:336px; height:336px;'}
                  %div.contentRollover{:style => 'background-color:#2951e2;'}
                  %img{src: 'assets/img/inoko.png', :style => 'width:100%; height:auto'}
              %h4 １８歳の頃
              %h3 猪子寿之

            %div.contentItemRightDouble
              %a{:href => 'http://ononao.tokyo/interview/hikaru/'}
                %div.jornalEntry.journal1{:style => 'width:212px; float:left;'}
                  %div.contentImage{:style => 'width:212px; height:160px; overflow: hidden;'}
                    %div.contentRollover{:style => 'background-color:#2951e2;'}
                    %img{src: 'assets/img/tomura.png', :style => 'width:140%; height:auto; margin-left: -20%'}
                  %h4 シリコンバレーなう
                  %h3{:style => 'line-height: 1.3;'} 戸村光
                  %h4{:style => 'margin:0;   margin-top: 7px;  margin-bottom: 7px;'} –
                  %p 今回は特別企画「シリコンバレーなう」シリコンバレーで挑戦を続ける人をおのなおが直接取材。
                  %div.readMoreLink Read More

              %a{:href => 'http://ononao.tokyo/interview/004/'}
                %div.jornalEntry{:style => 'width:212px; float:right'}
                  %div.contentImage.journal12Mob{:style => 'width:212px; height:160px;overflow: hidden;'}
                    %div.contentRollover{:style => 'background-color:#2951e2;'}
                    %img{src: 'assets/img/takumi.png', :style => 'width:140%; height:auto; margin-left: -20%;'}
                  %h4 大学生インタビュー
                  %h3{:style => 'line-height: 1.3;'} 吉田拓巳
                  %h4{:style => 'margin:0;   margin-top: 7px;margin-bottom: 7px;'} –
                  %p 高校生の素朴な疑問「大学ってどんなところ？」それを解決するこの企画。今回のゲストは吉田拓巳。
                  %div.readMoreLink Read More

            %div.contentItemRight{:style => 'width: 336px;'}
              %a{:href => 'http://ononao.tokyo/blog/tomoko-namba/'}
                %div.contentImage{:style => 'width:336px; height:336px;'}
                  %div.contentRollover{:style => 'background-color:#2951e2;'}
                  %img{src: 'assets/img/namba.png', :style => 'width:100%; height:auto'}
              %h4 DeNA会長
              %h3 ついに南場さんと

            %div.contentItemRightDouble
              %a{:href => 'http://ononao.tokyo/blog/hi/'}
                %div.jornalEntry.journal1{:style => 'width:212px; float:left'}
                  %div.contentImage{:style => 'width:212px; height:160px; overflow: hidden;'}
                    %div.contentRollover{:style => 'background-color:#2951e2;'}
                    %img{src: 'assets/img/back.png', :style => 'width:140%; height:auto; margin-left: -20%;'}
                  %h4 Blog
                  %h3{:style => 'line-height: 1.3;'} ただいま！
                  %h4{:style => 'margin:0; margin-top: 7px; margin-bottom: 7px;'} –
                  %p 「シリコンバレーに住む」と宣言してから数日が経過しています。みなさんお元気ですか？
                  %div.readMoreLink Read More

              %a{:href => 'http://ononao.tokyo/blog/im-maguro/'}
                %div.jornalEntry{:style => 'width:212px; float:right'}
                  %div.contentImage.journal12Mob{:style => 'width:212px; height:160px; overflow: hidden;'}
                    %div.contentRollover{:style => 'background-color: #2951e2'}
                    %img{src: 'assets/img/maguro.png', :style => 'width:140%; height:auto; margin-left: -20%;'}
                  %h4 Blog
                  %h3{:style => 'line-height: 1.3;'} 18歳のマグロ野郎
                  %h4{:style => 'margin:0; margin-top: 7px; margin-bottom: 7px;'} –
                  %p 18歳のマグロ野郎は泳ぎ続けます。だって泳がないと死んじゃうから。
                  %div.readMoreLink Read More



        %div#projectMobile
          %div.contentItemLeft
            %div.homeTeamContentImage{:style => ''}
              %a{:href => 'http://ononao.tokyo/blog/thankyou/'}
                %div.teamContentRollover{:style => 'background-color:#00ae81;width:100%; height:100%'}
                %img{src: 'assets/img/jk.png', :style => 'width:100%; height:auto;'}
            %div.homeTeamContentCopy
              %h4 PV10,000突破企画
              %h3 JKパンティ隊

          %divcontentItemRight{:style => 'width:336px;'}
            %a{:href => 'http://ononao.tokyo/interview/inoko/'}
              %div.contentImage{:style => 'width:336px; height:336px;'}
                %div.contentRollover{:style => 'background-color:#00ae81;'}
                %img{src: 'assets/img/inoko.png', :style => 'width:100%; height:auto'}
            %h4 １８歳の頃
            %h3 猪子寿之

          %div.contentItemLeft{:style => 'width:336px;'}
            %a{:href => 'http://ononao.tokyo/blog/photo/'}
              %div.contentImage{:style => 'width:336px; height:464px;'}
                %div.contentRollover{:style => 'background-color:#00ae81;'}
                %img{src: 'assets/img/photo.png', :style => 'width:100%; height:auto'}
            %h4 旅日記
            %h3 シリコンバレー写真編

          %div.contentItemRightDouble
            %a{:href => 'http://crone.com.au/journal/crone-designs-sydney-one/'}
              %div.jornalEntry.journal1{:style => 'width:212px; float:left;'}
                %div.contentImage{:style => 'width:212px; height:160px; overflow: hidden;'}
                  %div.contentRollover{:style => 'background-color:#00ae81;'}
                  %img{src: 'http://crone.com.au/wp-content/uploads/2015/08/SydneyOne_1.jpg', :style => 'width:140%; height:auto; margin-left: -20%;'}
                %h4 journal
                %h3{:style => 'line-height: 1.3;'} Sydney One Stage 1 DA Submitted
                %h4{:style => 'margin:0;   margin-top: 7px;  margin-bottom: 7px;'} –
                %p Sydney One aims to strengthen Sydney’s position as a global city and a great place...
                %div.readMoreLink Read More

            %a{:href => 'http://ononao.tokyo/interview/004/'}
              %div.jornalEntry{:style => 'width:212px; float:right'}
                %div.contentImage.journal12Mob{:style => 'width:212px; height:160px;overflow: hidden;'}
                  %div.contentRollover{:style => 'background-color:#00ae81;'}
                  %img{src: 'assets/img/takumi.png', :style => 'width:140%; height:auto; margin-left: -20%;'}
                %h4 大学生インタビュー
                %h3{:style => 'line-height: 1.3;'} 吉田拓巳
                %h4{:style => 'margin:0;   margin-top: 7px;  margin-bottom: 7px;'} –
                %p 高校生の素朴な疑問「大学ってどんなところ？」それを解決するこの企画。今回のゲストは吉田拓巳。
                %div.readMoreLink Read More

          %div.contentItemLeft
            %div.homeTeamContentImage{:style => ''}
              %a{:href => 'http://ononao.tokyo/blog/ononao-make/'}
                %div.teamContentRollover{:style => 'background-color:#00ae81;'}
                %img{src: '/assets/img/company.png', :style => 'width:100%; height:auto;'}
            %div.homeTeamContentCopy
              %h4 Takeoff
              %h3 １８歳で会社を作った話。

            %div.contentItemRight{:style => 'width:336px;'}
              %a{:href => 'http://ononao.tokyo/blog/tomoko-namba/'}
                %div.contentImage{:style => 'width:336px; height:336px;'}
                  %div.contentRollover{:style => 'background-color:#00ae81;'}
                  %img{src: 'assets/img/namba.png', :style => 'width:100%; height:auto;'}
              %h4 DeNA会長
              %h3 ついに南場さんと

            %div.contentItemLeft{:style => 'width:336px;'}
              %a{:href =>'http://ononao.tokyo/blog/1day/'}
                %div.contentImage{:style => 'width:336px; height:464px;'}
                  %div.contentRollover{:style => 'background-color:#00ae81;'}
                  %img{src: 'assets/img/ononao-siri.png', :style => 'width:100%; height:auto;'}
              %h4 旅行日記
              %h3 シリコンバレー日記１日目

            %div.contentItemRightDouble
              %a{:href => 'http://ononao.tokyo/blog/hi/'}
                %div.jornalEntry.journal1{:style => 'width:212px; float:left;'}
                  %div.contentImage{:style => 'width:212px; height:160px; overflow: hidden;'}
                    %div.contentRollover{:style => 'background-color:#00ae81;'}
                    %img{src: 'assets/img/back.png', :style => 'width:140%; height:auto; margin-left: -20%;'}
                  %h4 Blog
                  %h3{:style => 'line-height: 1.3;'} ただいま！
                  %h4{:style => 'margin:0;   margin-top: 7px;  margin-bottom: 7px;'} –
                  %p 「シリコンバレーに住む」と宣言してから数日が経過しています。みなさんお元気ですか？...
                  %div.readMoreLink Read More

              %a{:href => 'http://ononao.tokyo/blog/im-maguro/'}
                %div.jornalEntry{:style => 'width:212px; float:right'}
                  %div.contentImage.journal12Mob{:style => 'width:212px; height:160px;overflow: hidden;'}
                    %div.contentRollover{:style => 'background-color:#00ae81;'}
                    %img{src: 'assets/img/maguro.png', :style => 'width:140%; height:auto; margin-left: -20%;'}
                  %h4 Blog
                  %h3{:style => 'line-height: 1.3;'} 18歳のマグロ野郎
                  %h4{:style => 'margin:0;   margin-top: 7px;  margin-bottom: 7px;'} –
                  %p 18歳のマグロ野郎は泳ぎ続けます。だって泳がないと死んじゃうから。
                  %div.readMoreLink Read More
